@media screen and (max-width: 750px) {
  header * {
    flex-basis: 400px;
  }

  header p {
    text-align: center;
  }

  header p:first-of-type {
    text-align: center;
  }

  main {
    scroll-snap-type: y mandatory;
  }

  main section {
    scroll-snap-align: start;
  }
}