@media screen and (max-width: 750px) {
  html {
    scroll-snap-type: block mandatory;
  }

  header, main, footer {
    scroll-snap-align: start;
  }

  header {
    height: 100vh;
  }

  header * {
    flex-basis: 400px;
  }

  header p {
    text-align: center;
  }

  header p:first-of-type {
    text-align: center;
  }

  main {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: block proximity;
  }

  section {
    scroll-snap-align: start;
  }

  section h2 {
    font-size: 18px;
  }

  section h2::before {
    width: 24px;
    height: 24px;
    left: -32px;
    top: 2px;
  }

  section p, section ul {
    font-size: 12px;
  }

  pre code.hljs {
    font-size: 11px;
  }

  .burger-menu ul {
    font-size: 18px;
  }
}