body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header p {
  justify-self: flex-end;
}

header img {
  width: 200px;
  filter: sepia(0.5);
}

header p {
  font-size: 36px;
}
