html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
}

header {
  padding: 16px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 153, 0);
}

header * {
  flex-basis: 250px;
}

header figure {
  text-align: center;
}

header figure img {
  width: 200px;
}

header p {
  font-size: 36px;
}

header p:first-of-type {
  text-align: right;
}

main {
  color: rgb(255, 153, 0);
  width: 100%;
}

section {
  width: 90%;
  max-width: 1200px;

  margin: auto;
  padding: 16px;

  border-left: 8px solid rgb(255, 153, 0);
}

section h2 {
  position: relative;
}

section h2::before {
  content: '';
  width: 32px;
  height: 32px;
  border: 4px solid rgb(255, 153, 0);
  border-radius: 20px;
  background-color: #212529;

  position: absolute;
  left: -36px;
  top: 4px;
}

section p, section ul {
  font-size: 18px;
}

li ul {
  list-style: none;
  padding: 0;
}

pre code.hljs {
  background-color: #2c3136;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 153, 0);


}

footer a, footer a:hover {
  color: #212529;
}

footer figure {
  margin: 8px 24px;
}

footer img {
  height: 36px;
}

.burger-menu {
  position: fixed;
  width: 100%;
}

.burger-menu button {
  padding: 0;
  font-size: 24x;
  color: rgb(255, 153, 0);
  width: 48px;
  height: 48px;
  z-index: 5;

  border: none;
  border-radius: 48px;
  background: #212529;

  position: absolute;
  top: 24px;
  right: 24px;

  filter: drop-shadow(0 0 2px #4a535c);
  transition: filter 0.2s linear, color 0.2s linear;
}

.burger-menu button:hover {
  background: rgb(52, 57, 61);
  filter: drop-shadow(0 2px 2px #4a535c);
  cursor: pointer;
}

.burger-menu button:active {
  filter: drop-shadow(0 1px 1px #4a535c);
}

.burger-menu button:focus {
  outline: none;
}

.burger-menu aside {
  position: fixed;
  visibility: hidden;
  left: 100vw;
  width: calc(100vw - 16px);
  height: 100vh;
  opacity: 0;
  background-color: #212529ee;

  transition: visibility 0.3s,  opacity 0.3s ease-in-out;
}

.burger-menu ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  font-size: 36px;
  list-style: none;

  width: 100%;
  height: 100%;
}

.burger-menu ul li a {
  color:  rgb(255, 153, 0);
}

